{{#each celebs as |celeb|}}

 <!-- Developers, why are we using data-id and not just id? -->
<div class="col-xs-8 col-md-8 minibox celeb">
  <h5>Category: Celebs</h5>
  <p data-id="{{celeb.id}}" > ID: {{celeb.id}}</p>
  <p data-id="{{celeb.name}}"> Name: {{celeb.name}}</p>
  <p data-id="{{celeb.age}}"> Age: {{celeb.age}}</p>
  <p data-id="{{celeb.occupation}}"> Occupation: {{celeb.occupation}}</p>
  <p> &nbsp;<a id='celebLink' target=”_blank” href='http://www.google.com/search?q={{celeb.name}}'>Google Search</a>&nbsp; </p>
  <button id='celebButton' data-toggle="modal" data-target="#celebsEditModal" class='btn-primary celebEdit'>Edit/Delete</button>

</div>
{{/each}}
