{{#each news_papers as |news_paper|}}

 <!-- Developers, why are we using data-id and not just id? -->
<div class="col-xs-10 col-md-10 minibox news">
  <h5>Category: News</h5>
  <div><img id='newsImage' src='http://www.endoflifecarewirral.org/images/news-image3.png'></div>
  <p data-id="{{news_paper.id}}"> ID: {{news_paper.id}}</p>
  <p data-id="{{news_paper.name}}"> Name: {{news_paper.name}}</p>
  <p data-id="{{news_paper.region}}"> Region: {{news_paper.region}}</p>
  <p>  &nbsp;<a id='newsLink' target=”_blank” href='http://www.{{news_paper.site}}'>{{news_paper.name}}'s Website</a>&nbsp; </p>
  <button id='newsButton' data-toggle="modal" data-target="#newsEditModal" class='btn-primary newsEdit'>Edit/Delete</button>
</div>
{{/each}}
